.cardSize {
  margin: 5px;
  width: 300px;
}

.logoNavbar{
  width: 90px;
  height: 80px;
}

@media all and (max-width: 767px) {
  .footerCenter {
    text-align: center;
  }
}

.noLink{
  text-decoration: solid;
  color: green;
}

.noLink:hover{
  color: white;
}
